<!DOCTYPE html>
<html lang="{{ app.request.locale }}" class="h-100">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{{ app_name }}{% endblock %}</title>
    <base href="{{ app.request.baseUrl }}">

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    {% block stylesheets -%}
        <link href="{{ asset('assets/iot/node_modules/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/iot/node_modules/bootstrap-icons/font/bootstrap-icons.css') }}" rel="stylesheet">
    {% endblock -%}

</head>
<body class="d-flex flex-column h-100 bg-light">

{% include 'header.html.twig' %}

<main role="main" class="flex-shrink-0">
    <div class="container">
        {% block body %}{% endblock %}
    </div>
</main>

{% block footer %}
    <footer class="footer mt-auto border-top mt-3">
        <div class="container">
            <div class="float-end p-2">
                <a href="https://shopker.org/" target="_blank">
                    <img src="{{ asset('img/shk-logo-small-gray.png') }}" width="120" alt="Shopker">
                </a>
            </div>
            <div class="py-3 text-muted">
                {{ app_name }} &copy; {{ 'now' | date('Y') }}
            </div>
        </div>
    </footer>
{% endblock %}

{% block javascripts -%}
    <script src="{{ asset('assets/iot/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ asset('assets/iot/node_modules/plotly.js-dist-min/plotly.min.js') }}"></script>
    <script src="{{ asset('assets/iot/js/plotly-locale-ru-latest.js') }}"></script>
    <script src="{{ asset('js/shopkeeper.js') }}"></script>
    <script src="{{ asset('assets/iot/js/script.js') }}"></script>
{% endblock -%}

</body>
</html>
