{% extends 'base.html.twig' %}

{% block title %}{{ currentPage.title | default('') }} - {{ app_name }}{% endblock %}

{% block body %}

    {% include 'nav/breadcrumbs.html.twig' %}
    {% set collectionName = currentCategory.contentType.collection %}
    {% set fieldsOnPage = currentCategory.contentType.getFieldsByFlag('showOnPage') %}

    <div class="min-height400">

        <h1>{{ fieldByLocale(currentPage.menuData, 'title') }}</h1>

        {% include 'nav/child-categories-menu.html.twig' %}

        {% include 'nav/siblings-menu.html.twig' %}

        {% if items | length == 0 and queryOptions.filter | length == 0 %}
            {% if categoriesMenu | length == 0 %}
                <div class="alert alert-info">
                    {{ 'This category is empty' | trans }}.
                </div>
            {% endif %}
        {% else %}

            {% include 'catalog/filters.html.twig' %}

            <script>
                const data_{{ collectionName }} = [
                    {% for item in items -%}
                    {
                    {% for field in fieldsOnPage -%}
                        {{ field.name }}: {{ item[field.name] | default(0) }},
                    {% endfor -%}
                        time: "{{ item.time | default('') | date('d.m.Y H:i:s') }}"
                    }{% if not loop.last %},{% endif -%}
                    {% endfor -%}
                ];
            </script>

            {% for field in fieldsOnPage %}

                <div class="card shadow mb-5">
                    <div class="card-header">
                        {{ field.title }}
                    </div>
                    <div class="card-body">

                        <div id="chart-{{ field.name }}" style="width:100%; height:350px;"></div>
                        <script>
                            document.addEventListener('DOMContentLoaded', function() {
                                createPlot('chart-{{ field.name }}', data_{{ collectionName }}, '{{ field.name }}', 'time', '{{ app.request.locale }}');
                            });
                        </script>

                    </div>
                </div>

            {% endfor %}

            <div>
                {% include 'nav/pagination.html.twig' %}
            </div>

        {% endif %}

    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        var shk = new Shopkeeper();
        shk.onAfterInit(function() {
            shk.filtersInit(true);
        });
    </script>

{% endblock %}
